server:
  port: 9500

spring:
  application:
    name: notification-service
  config:
    activate:
      on-profile: dev
  kafka:
    bootstrap-servers: localhost:29092
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "com.phumlanidev.commonevents.events"
        spring.json.use.type.headers: true
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: true
    listener:
      concurrency: 3
      ack-mode: manual
    retry:
      topic:
        enabled: true
  datasource:
    url: jdbc:postgresql://localhost:5432/notification_db
    username: "{cipher}2dbb4f8fb118abdff5534ba5bc8c8ed8cc1435a333a2958811a3f9713215d1ee"
    password: "{cipher}2dbb4f8fb118abdff5534ba5bc8c8ed8cc1435a333a2958811a3f9713215d1ee"
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5       # Keep low to avoid exhausting local DB connections
      minimum-idle: 2            # Few idle connections are enough
      idle-timeout: 30000        # 30 sec before closing idle connections
      max-lifetime: 1800000      # 30 minutes
      connection-timeout: 10000  # 10 seconds max wait for a connection
      pool-name: DevHikariCP
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: always
      schema-locations: classpath:db/schema.sql
  flyway:
    enabled: true
    locations: classpath:/db/migration
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://keycloak.phumlaniarendse.co.za/realms/ecommerce
          jwk-uri: https://keycloak.phumlaniarendse.co.za/realms/ecommerce/protocol/openid-connect/certs
  rabbitmq:
    host: localhost
    port: 5672
    username: "{cipher}21ef876d345fc0f126fb77707df98e739755474e6d39a35bf01f3b9af2f15b7f"
    password: "{cipher}3a2d49f7665bd9715e6c718a5b3b48057049f0695f52bf4e32c18c33189c06ef"
  mail:
    host: smtp.gmail.com
    port: 587
    username: "{cipher}2d53a4f5c04bfa61ad47c5ac020e7850e65b1fb46c61be8367cb89d3aec5878ae7d6176dfc9cb8faec5056e87cccb536"
    password: "{cipher}258e2db4ea54ae4b0d8cdf88414854ac7e8f88b1eff50920d12a5e92fa2fa032d3563b711eb391952bf87259429424f7"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  cache:
    type: caffeine
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    cache: false

keycloak:
  auth-server-url: https://keycloak.phumlaniarendse.co.za
  realm: ecommerce
  resource: notification-service
  principle-attribute: preferred_username
  credentials:
    secret: "{cipher}f1d953159048f88625a9595d5d9da52f31d5ecb6e8bef9934f1bf61c8a049b8ba032f248cab60958c1b0ee5f5862a510aa5601713bcb5236e21206e129441bb8"
  admin:
    username: "{cipher}1b1605dd29d70df25c643ed64a28779456c1453c2252432b3a77e77ae35935d0"
    password: "{cipher}9691f299e5d13785d56be58db20a811fbea1b1b8469c6d0b7dfb2040be6eac09"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

logging:
  level:
    # Set your application's log level
    com.phumlanidev.notificationservice: DEBUG

    # Reduce Hibernate verbosity
    org.hibernate.SQL: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: INFO

    # Reduce Spring Boot and AMQP noise
    org.springframework.boot.context.config: INFO
    org.springframework.amqp: INFO
    org.springframework.cloud.stream: INFO
    org.springframework.kafka: WARN
    org.apache.kafka: WARN
    org.springframework.http.converter.json: INFO
    org.springframework.validation: INFO