server:
  port: 8085

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeader: "*"
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-service
          uri: lb://auth-microservice
          predicates:
            - Path=/api/v1/auth/**
          filters:
            - StripPrefix=1
            - RemoveRequestHeader=Cookie

        - id: product-service
          uri: lb://product-microservice
          predicates:
            - Path=/api/v1/products/**
          filters:
            - StripPrefix=1
            - RemoveRequestHeader=Cookie

        - id: secured-product-service
          uri: lb://product-microservice
          predicates:
            - METHOD=POST,PUT,PATCH,DELETE
            - Path=/api/v1/products/**
          filters:
            - StripPrefix=1
            - RemoveRequestHeader=Cookie
            - RoleHeaderFilter
      default-filters:
        - name: RequestRateLimiter
          args:
            redis-rate-limiter.replenish-rate: 10
            redis-rate-limiter.burst-capacity: 20
            redis-rate-limiter.requestedTokens: 1
        - AddResponseHeader=X-Gateway-Response, Passed-through-API-Gateway
        - AddRequestHeader=X-Response-Time, ${date}
    config:
      uri: http://localhost:8888

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8080/realms/mac-apps/protocol/openid-connect/certs

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: "*"
