server:
  port: 8082

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwt:
            issuer-uri: http://localhost:8080
            jwk-set-uri: ${spring.security.oauth2.resourceserver.jwt.jwt-set-uri}/realms/mac-apps/protocol/openid-connect/certs
  cloud:
    activate:
      on-profile: api_gateway
    gateway:
      routes:
        - id: auth-service
          uri: http://auth-service:9000
          predicates:
            - Path=/api/v1/auth/**
        - id: product-service
          uri: http://product-service:9100
          predicates:
            - Path=/api/v1/product/**
      default-filters:
        - AddResponseHeader=X-Gateway-Response, Passed-through-API-Gateway
        - name: RequestRateLimiter
          args:
            redis-rate-limiter.replenishRate: 5
            redis-rate-limiter.burstCapacity: 10
  redis:
    host: redis
    port: 6379