server:
  port: 9000

spring:
  config:
    activate:
      on-profile: auth_service
  datasource:
    url: jdbc:postgresql://postgres-auth:5432/authdb
    username: "{cipher}57caf260ec2b27817213238d373e5ef383f7d95d60abcc539b0b8a0ee704b72e"
    password: "{cipher}11a18f7371f24efdc5e593a2e5681d8cc4ab646e59b2db03c1f1b483fbea85b9"
  jpa:
    hibernate:
      ddl-auto: update
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080
          jwk-set-uri: ${spring.security.oauth2.resourceserver.jwt.issuer-uri}/protocol/openid-connect/certs

keycloak:
  auth-server-url: http://localhost:8080
  realm: mac-apps
  resource: infinity-tech-api
  principle-attribute: preferred_username
  credentials:
    secret:
  admin:
    username:
    password:

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always