server:
  port: 9100

spring:
  application:
    name: product-service
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/productdb
    username: "{cipher}57caf260ec2b27817213238d373e5ef383f7d95d60abcc539b0b8a0ee704b72e"
    password: "{cipher}11a18f7371f24efdc5e593a2e5681d8cc4ab646e59b2db03c1f1b483fbea85b9"
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  redis:
    host: localhost
    port: 6379
  cache:
    type: redis
management:
  endpoints:
    web:
      exposure:
        include: "*"
