server:
  port: 9500

spring:
  application:
    name: auth-service
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/authdb
    username: "{cipher}db741a80ad9c0b7b4aa57bd3ab79572e586e04033acb12358f6ef179077db680"
    password: "{cipher}db741a80ad9c0b7b4aa57bd3ab79572e586e04033acb12358f6ef179077db680"
  jpa:
    hibernate:
      ddl-auto: update
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/mac-apps
  mail:
    host: smtp.gmail.com
    port: 587
    username: "{cipher}d1ac4b0560b26bad9c44cff9b12ef2fad581f090d7f1b12cd1b94114c050a8f6c286b7a9f5949c19e07fa81441634cdd"
    password: "{cipher}46e0e7a795779e378856d592ee884caf178c9c8fbe8adc8fa88ca850bc3da985b434bf39f0d500b93ceff3082cf67b2d"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

keycloak:
  auth-server-url: http://localhost:8080
  realm: mac-apps
  resource: tech-hive-store
  principle-attribute: preferred_username
  credentials:
    secret: "{cipher}58f2bf1671e81d93a39977f8a2ce7c0c74c95d690b297f1bddb3941e8285e76df9474d97e284c76b860f98730e16ac4ff46ec974205d08aedb04ced98468a0e8"
  admin:
    username: "{cipher}6700290e43350038607a958754d6dc54a5a13b213edbca43258e2947df146784"
    password: "{cipher}1237e2ea33634a020ea9d527e65c3574bfe1bc277e5e19dc4bdb991d9169a6c7"
  logout_uri: http://localhost:8080/realms/mac-apps/protocol/openid-connect/logout

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always