server:
  port: 9600

spring:
  application:
    name: payment-service
  config:
    activate:
      on-profile: dev
  kafka:
    bootstrap-servers: localhost:29092
    consumer:
      group-id: payment-group
      auto-offset-reset: earliest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "com.phumlanidev.commonevents.events"
        spring.json.use.type.headers: true
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: true
    listener:
      concurrency: 3
      ack-mode: manual
    retry:
      topic:
        enabled: true
  datasource:
    url: jdbc:postgresql://localhost:5432/payment_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5       # Keep low to avoid exhausting local DB connections
      minimum-idle: 2            # Few idle connections are enough
      idle-timeout: 30000        # 30 sec before closing idle connections
      max-lifetime: 1800000      # 30 minutes
      connection-timeout: 10000  # 10 seconds max wait for a connection
      pool-name: DevHikariCP
  jpa:
    hibernate.ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: always
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://keycloak.phumlaniarendse.co.za/realms/ecommerce
          jwk-uri: https://keycloak.phumlaniarendse.co.za/realms/ecommerce/protocol/openid-connect/certs

resilience4j:
  circuitbreaker:
    instances:
      orderService:
        registerHealthIndicator: true
        slidingWindowSize: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
      notificationService:
        registerHealthIndicator: true
        slidingWindowSize: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3

  bulkhead:
    instances:
      orderService:
        maxConcurrentCalls: 10
        maxWaitDuration: 0
      notificationService:
        maxConcurrentCalls: 10
        maxWaitDuration: 0

  retry:
    instances:
      orderService:
        maxAttempts: 3
        waitDuration: 2s
      notificationService:
        maxAttempts: 3
        waitDuration: 2s

  ratelimiter:
    instances:
      orderService:
        limitForPeriod: 10
        limitRefreshPeriod: 1s
        timeoutDuration: 0
      notificationService:
        limitForPeriod: 10
        limitRefreshPeriod: 1s
        timeoutDuration: 0

  timelimiter:
    instances:
      orderService:
        timeoutDuration: 3s
      notificationService:
        timeoutDuration: 3s

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

keycloak:
  auth-server-url: https://keycloak.phumlaniarendse.co.za
  realm: ecommerce
  token-uri: https://keycloak.phumlaniarendse.co.za/realms/ecommerce/protocol/openid-connect/token
  resource: payment-service
  principle-attribute: preferred_username
  credentials:
    secret: "{cipher}0047b2f7ad5f5e34599312031da3092aa4c38ac18ad95d3e6e3d015d07e044931d153df1e220a5657e4ca2bfd2c0dffda51760e64315252e6d3fbc394fc67bd2"
  admin:
    username: "{cipher}1b1605dd29d70df25c643ed64a28779456c1453c2252432b3a77e77ae35935d0"
    password: "{cipher}9691f299e5d13785d56be58db20a811fbea1b1b8469c6d0b7dfb2040be6eac09"

stripe:
  secret-key: "{cipher}dd77119171088f196537d9bedbdbb2ce8bdd1956d67d9772a375c43d508ed5b3da692ec8cce45af391f875a6971e41fe30cafdd8a016fb64e92ace641084f51ef1a2683ef89d48de37b2a1cbc0c7ceb157316f5dbd96461d2bb271af103828dfcff7d0ed60dd004169d54c68f16a4907be5939898c15a930e332cc56dfbb675f"
  public-key: "{cipher}2df5bfecfc51663b3210b79b092b929ba45cf4965c68a9880dd1fcdfdd95d02bba379648bcae006a74f5206a9f2d77752c2e14e7ca1d7b1ef587f65a07a9517520b0f3d2cd4aada75376e00109f2dc1e617b055c8fc8bff8195bc0a83f33b4b18900c3ec4815658cffd9d06704cf71c47eefe5600b73352c542ba83f50b218b6"
  webhook-secret: "{cipher}f4fe07cec5639892643505e4b978464bdcfd27c2a2bf2446b3ef4c83170614f18eccee98fde6a828413e1fb9d9048de007b49a722350f88f5636e147793c76a19eecf3f6818ff255314c03f3323859bce32830f341065f676576d4f1ba7d8aca"
  success-url: http://localhost:9600/payment/success
  cancel-url: http://localhost:9600/payment/cancel

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

logging:
  level:
    # Set your application's log level
    com.phumlanidev.paymentservice: DEBUG

    # Reduce Hibernate verbosity
    org.hibernate.SQL: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: INFO

    # Reduce Spring Boot and AMQP noise
    org.springframework.boot.context.config: INFO
    org.springframework.amqp: INFO
    org.springframework.cloud.stream: INFO
    org.springframework.kafka: WARN
    org.apache.kafka: WARN
    org.springframework.http.converter.json: INFO
    org.springframework.validation: INFO