server:
  port: 9700

spring:
  application:
    name: inventory-service
  config:
    activate:
      on-profile: dev
  kafka:
    bootstrap-servers: localhost:29092
    consumer:
      group-id: inventory-group
      auto-offset-reset: earliest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "com.phumlanidev.commonevents.events"
        spring.json.use.type.headers: true
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: true
    listener:
      concurrency: 3
      ack-mode: manual
    retry:
      topic:
        enabled: true
  datasource:
    url: jdbc:postgresql://localhost:5432/inventory_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 5       # Keep low to avoid exhausting local DB connections
      minimum-idle: 2            # Few idle connections are enough
      idle-timeout: 30000        # 30 sec before closing idle connections
      max-lifetime: 1800000      # 30 minutes
      connection-timeout: 10000  # 10 seconds max wait for a connection
      pool-name: DevHikariCP
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/ecommerce
          jwk-uri: http://localhost:8080/realms/ecommerce/protocol/openid-connect/certs
  rabbitmq:
    host: localhost
    port: 5672
    username: "{cipher}21ef876d345fc0f126fb77707df98e739755474e6d39a35bf01f3b9af2f15b7f"
    password: "{cipher}3a2d49f7665bd9715e6c718a5b3b48057049f0695f52bf4e32c18c33189c06ef"

keycloak:
  auth-server-url: http://localhost:8080
  realm: ecommerce
  resource: invetory-service
  principle-attribute: preferred_username
  credentials:
    secret: "{cipher}2ed77ed7e28ec200828e044ba530cb8bc6684130cf1a8e44f76a065df75bed454c20d3c07593ad2ce92b96bd037bf58836d6b393e0bafe18f9e7fbf74fa646b8"
  admin:
    username: "{cipher}1b1605dd29d70df25c643ed64a28779456c1453c2252432b3a77e77ae35935d0"
    password: "{cipher}9691f299e5d13785d56be58db20a811fbea1b1b8469c6d0b7dfb2040be6eac09"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

logging:
  level:
    # Set your application's log level
    com.phumlanidev.orderservice: INFO

    # Reduce Hibernate verbosity
    org.hibernate.SQL: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: INFO

    # Reduce Spring Boot and AMQP noise
    org.springframework.boot.context.config: INFO
    org.springframework.amqp: INFO
    org.springframework.cloud.stream: INFO
    org.springframework.kafka: WARN
    org.apache.kafka: WARN
    org.springframework.http.converter.json: INFO
    org.springframework.validation: INFO